body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
  }
  nav  {
    list-style-type: none;
    display: flex;
  
  }
  nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
  }