  .header { 
  padding: 60px;
  text-align: center;
  background: #E55812;
  color: rgb(38, 35, 35);
  font-size: 30px;
}

.section-1 {
  float: left;
  padding: 5px;
  text-align: left;
} 

.section-1-text {
  font-size:xx-large;
}

.section-2 {
  float: right;
  padding: 5px;
  text-align: right;
}

.section-2-text {
  font-size: xx-large;
}
  nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    list-style-type: none;
    display: flex;
  }

  nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
  }

  header {
    text-align: center;
  }
  h1 {
    text-align: center;
  }