.sidenav {
    height:100%; 
    width:160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
  }
  nav  {
    list-style-type: none;
    display: flex;
  
  }
  nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
  }
  header {
    text-align: center;
  }
  .header { 
    padding: 60px;
    text-align: center;
    background: #E55812;
    color: rgb(38, 35, 35);
    font-size: 30px;
  }
h1 {
  text-align: center;
}  
.images {
    text-align: center;
}
footer {
    text-align: center;
}